<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div id="main-container">
    <div id="left-menu">
        <div id="bottom-left-menu">
            <a href="#"><img src="ico/user-3.png"/></a>
            <a href="#"><img src="ico/info.png"/></a>
            <a href="#"><img src="ico/home-1.png"/></a>
        </div>
    </div>
    <div id="main-content">
        <div class="card bt-green" id="login-pan">
            <div class="card-container">
                <div class="form-container">
                    <label>
                        <span class="red">*</span>
                        شماره تلفن
                    </label>
                    <input type="text" class="input center-text" placeholder="09xxxxxxxxx"/>
                    <section id="register-fields-section" style="display: none;">
                        <label>نام</label>
                        <input type="text" class="input center-text" placeholder="اختیاری"/>
                        <label>ایمیل</label>
                        <input type="text" class="input center-text" placeholder="اختیاری"/>
                        <span class="w-100 center-text" id="register-rule">
                            ثبت نام شما به معنای پذیرفتن
                            <a href="#">قوانین</a>
                            می باشد
                        </span>
                    </section>
                </div>
                <br/>
                <button class="round-btn btn-green form-bottom w-80 m-10">ورود یا ثبت نام</button>
            </div>
        </div>
        <div id="info-container">
            <h1 style="font-size: 40px;">
                در آکادمی هوم, برنامه نویسی را عملی بیاموزید
            </h1>
            <h3 style="padding-right: 10px;">
                آموزش ببینید, همزمان اجرا کنید و نتیجه را ببینید
            </h3>
            <br/>
            <button class="round-btn btn-green form-bottom">ورود یا ثبت نام</button>
        </div>
        <div id="s-main-content">
            <div id="features-container">
                <div class="feature-block">
                    <img src="ico/trophy.png"/>
                    <h3>با دوستان خود رقابت کنید</h3>
                    <p>
                        چالش های برنامه نویسی را با دوستان خود حل کنید
                        <br/>
                        در این چالش ها امتیاز کسب کنید
                        <br/>
                        با این امتیاز ها از امکانات بیشتر سایت استفاده کنید
                    </p>
                    <button class="t-button">بیشتر بدانید</button>
                    <br/><br/>
                </div>
                <div class="feature-block">
                    <img src="ico/coding.png"/>
                    <h3>برنامه نویسی را عملی تجربه کنید</h3>
                    <p>
                        آموزش تیوری کافی است! در اینجا شما باید بعد از هر آموزش طعم واقعی کد زدن را احساس کنید
                    </p>
                    <p>
                        بعد از یادگیری هر موضوع, شما یک برنامه ی کاربردی را در همین سایت به کمک پشتیبان ها خواهید ساخت
                    </p>
                    <button class="t-button">شروع کنید</button>
                    <br/>
                    <br/>
                </div>
                <div class="feature-block">
                    <img src="ico/refresh.png"/>
                    <h3>در دنیای کامپیوتر به روز باشید</h3>
                    <p>
                        شما به عنوان یک برنامه نویس بایستی به روز باشید
                        <br/>
                        ما برای شما جدیدترین اخبار را گرد آوری میکنیم
                        <br/>
                        با ما همراه باشید!
                    </p>
                    <button class="t-button">اخبار را مرور کنید</button>
                    <br/><br/>
                </div>
            </div>
            <div id="lang-container">
                <h3>هم اکنون زبان های روز دنیا را بیاموزید</h3>
                <div class="lang">
                    <img src="ico/html-5.png"/>
                    <span class="title">HTML & HTML5</span>
                    <p>
                        به صفحات وب علاقه دارید؟ <br/> همین الان این زبان را شروع کنید
                    </p>
                </div>
                <div class="lang">
                    <img src="ico/css-3.png"/>
                    <span class="title">CSS & CSS3</span>
                    <p>
                        یک وبسایت زیبا میخواهید؟
                        <br/>
                        این همان زبانی است که باید بدانید
                    </p>
                </div>
                <div class="lang">
                    <img src="ico/php.png"/>
                    <span class="title">PHP</span>
                    <p>
                        چه چیزی پشت یک وبسایت میگذرد؟
                        <br/>
                        این زبان را یادبگیرید تا وبسایتی پویا داشته باشید
                    </p>
                </div>
                <div class="lang">
                    <img src="ico/java.png"/>
                    <span class="title">JAVA</span>
                    <p>
                        یک بار بنویسید همه جا اجرا کنید
                        <br/>
                        این زبان به کسانی که دوست دارند حرفه ای باشند پیشنهاد میشود
                    </p>
                </div>
                <div class="lang">
                    <img src="ico/android.png"/>
                    <span class="title">ANDROID</span>
                    <p>
                        گوشی اندرویدی دارید؟
                        <br/>
                        برنامه های اندروید را خودتان بنویسید
                    </p>
                </div>
            </div>
            <div id="linux-shell-container">
                <div id="linux-info-container">
                    <img src="ico/linux.png"/>
                    <h3 dir="rtl">
                        دقت کنید!
                    </h3>
                    <p>
                        برای استفاده از این سایت شما باید اندکی با لینوکس آشنا باشید
                        <br/>
                        نگران نباشید. ما به شما آموزش خواهیم داد!
                        <br/>
                        لینوکس روی کامپیوتر خود ندارید؟ حیف شد! پس باید از لینوکسی که ما در اختیار شما قرار میدهیم
                        استفاده کنید!
                    </p>
                    <button class="round-btn btn-blue">اگر در مورد لینوکس نمیدانید کلیک کنید</button>
                </div>
                <div id="linux-shell">
                    <!--span>
                        <span style="color: #eeeeee;">test@test:</span><span style="color: #0783e7;">~</span><span style="color: #eeeeee;">$</span>
                        <span style="color: #49b54f;">echo </span><span style="color: #e69629;">"Hello World"</span>
                    </span-->
                    <iframe src="http://localhost:8010" width="100%" height="300px" id="shell-window">

                    </iframe>
                </div>
            </div>
        </div>
        <br/><br/>
    </div>
</div>
<script>
    var shellWindow = document.getElementById("shell-window");
    shellWindow.onload = function (ev) {
        shellWindow.blur();
        window.scrollTo(0, 0);
    }
</script>
</body>
</html>
